.container{
  height: 475px;
  width: 55%;
  max-width: 1200px;
  margin-top: 50px;
  float: center;
}

.container2{
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  /*
  display: flex;
  justify-content: space-around;
  */
}

.arkaplan{
  z-index: -1;
}

.arkaplan > img{
  z-index: -1;
  position: absolute;
  left: 200px;
  height: 100%;
  opacity: 0.1;
  width: 50%;
}

.baslik{
	color: #6b205c;
  margin-top: 10px;
  margin-left: -20px;
  width: 100%;
}

.logo{
  width: 70%;
  overflow: hidden;
  height: 75px;
  margin-left: -30px;
  float: left;
}

.logo > img{
  display: block;
  width: 100%;
  margin: -20px 0;
}

.alt-bilgi {
  margin-left: -15px;
}

h5.eposta {
  font-weight: 700;
  color:#6b1f5c;
}

h5.cagri-merkez {
  font-weight: 700;
  color:#6b1f5c;
}

h5.faks {
  font-weight: 700;
  color:#6b1f5c;
}

h5.genel {
  font-weight: 700;
  color:#6b1f5c;
}

h5.web-adres {
  font-weight: 700;
  color:#6b1f5c;
}

.adres{
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.dikey-cizgi1 {
  float: left;
  border-left: 3px solid #eed4fe;
  height: 40px;
  max-width: 3%;
}

.dikey-cizgi2 {
  border-left: 3px solid #a3e26a;
  height: 40px;
}

.dikey-cizgi3 {
  border-left: 3px solid #f8ea82;
  height: 40px;
}

.dikey-cizgi5 {
  border-left: 3px solid #f49b9e;
  height: 40px;
}

.dikey-cizgi6 {
  border-left: 3px solid #bce9ff;
  height: 40px;
}

.dikey-cizgi7 {
  border-left: 3px solid #9cb2ff;
  height: 40px;
}

.dikey-cizgi8 {
  border-left: 3px solid #eed4fe;
  height: 40px;
}

.dikey-cizgi9 {
  border-left: 3px solid #a3e26a;
  height: 40px;
}

.dikey-cizgi10 {
  border-left: 3px solid #f8ea82;
  height: 40px;
}

.dikey-cizgi11 {
  border-left: 3px solid #f49b9e;
  height: 40px;
}

.dikey-cizgi12 {
  border-left: 3px solid #bce9ff;
  height: 40px;
}

.dikey-cizgi13 {
  border-left: 3px solid #9cb2ff;
  height: 40px;
}

.yatay-kutu1 {
  float:right;
  border-left: 70px solid #69bc45;
  height: 30px;
}

.yatay-kutu2 {
  float:right;
  border-left: 70px solid #3a4756;
  height: 30px;
}

.yatay-kutu3 {
  float:right;
  border-left: 70px solid #ac72c3;
  height: 30px;
}

.cizgi{
 /* border-image: url("/firma/Site/FrontEnd/Upload/cizgi.png"); */
 margin-left: -40px;
} 

.cizgi1{
  margin-left: -40px;
 } 

@media screen and (max-width: 768px){
  .baslik{
    margin-top: 10%;
  }
  .ana-cizgi{
    width: 3%;
    margin-bottom: -475px;
  }
  .yatay-kutu1{
    margin-top: -25px;
    margin-left: -34px;
    float: left;
    width: 20%;
  }
  .yatay-kutu2{
    margin-top: -25px;
    float: left;
    width: 22%;
  }
  .yatay-kutu3{
    margin-top: -25px;
    margin-top: -30px;
    width: 21%;
  }
  #adres{
    margin-top: 5px;
    width: 100%;
    float: right;
  }
  .container2{
    margin-left: 35px;
  }
  .cizgi > img{
    margin-top: -10%;
  }
  .cizgi1 > img{
    margin-top: -50px;
  }
  .logo{
    margin-top: -15px;
  }
  .logo > img{
    margin-top: -5%;
    margin-left: 5px;
    width: 103%;
  }
  .arkaplan > img{
    width: 100%;
    margin-left: -150px;
    margin-top: 100px;
  }
  


  h5.eposta {
	  margin-right: 45%;
	}

	h5.cagri-merkez {
	  margin-right: 45%;
	}

	h5.faks {
	  margin-right: 45%;
	}

	h5.genel {
	  margin-right: 45%;
	}

	h5.web-adres { 
    margin-right: 45%;
	} 
	
	h5.eposta1 {
	  margin-right: -20%;
	margin-top: -25px;
	margin-left:150px;
	}

	h5.cagri-merkez1 {
	  margin-right: -20%;
	margin-top: -25px;
	margin-left:150px;
	}

	h5.faks1 {
	  margin-right: -20%;
	margin-top: -25px;
	margin-left:150px;
	}

	h5.genel1 {
	  margin-right: -20%;
	margin-top: -25px;
	margin-left:150px;
	}
	
	h5.web-adres1 { 
    margin-right: -20%;
	margin-top: -25px;
	margin-left:150px;
	} 

}